* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: url(https://files.catbox.moe/r46q4b.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 450px;
  padding: 20px;
}

.glass-card {
  background: rgba(255, 255, 255, 0.001);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 40px;
  color: blue;
  text-align: center;
  max-height: 200%;
  overflow-y: auto;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: black;
  outline: none;
  transition: 0.3s;
  font-weight: bold;
}

#bg-music {
  margin-top: 10px:
}

}

button {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  box-sizing: border-box;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: blue;
  outline: none;
  transition: 0.3s;
}

.phone-group {
  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  overflow: hidden;
}

.country-code {
  padding: 12px;
  background: rgba(255,255,255,0.2);
  color: black;
  font-weight: bold;
}

.phone-group input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  background: transparent;
  color: black;
}

#phonenumber {
  margin-bottom: 10px;
  margin-top: 10px
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(118, 75, 162, 0.4);
  filter: brightness(1.1);
}

button:active {
  transform: translateY(-1px);
  box-shadow: 0 4px 15px rgba(118, 75, 162, 0.2);
  filter: brightness(0.9);
}

footer {
  margin-top: 20px;
  font-size: 0.9em;
  color: rgb(53, 52, 47);
  font-weight: bolder;
  font-style: inherit;
}
